# Backend Server
PORT=3001
BASE_URL=http://localhost:3001
FRONTEND_URL=http://localhost:5173

#Postgres
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=
DB_NAME=miny

#Redis
REDIS_HOST=localhost
REDIS_PORT=6379

#Kafka
KAFKA_BROKER=localhost:9092

#Shuffling
XOR_SECRET=48291057
SHUFFLE_KEY=my_super_secret_shuffle_key_2026